Package: dev.adrian.gonerino
Name: Gonerino
Version: 0.3.6
Architecture: iphoneos-arm
Description: Remove videos uploaded by specific channels
Maintainer: Adrian Castro
Author: Adrian Castro
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Depiction: https://repo.adriancastro.dev/depictions/web/?p=dev.adrian.gonerino
SileoDepiction: https://repo.adriancastro.dev/depictions/native/dev.adrian.gonerino/depiction.json
