Package: com.cpdigitaldarkroom.barmoji
Name: Barmoji
Depends: mobilesubstrate, preferenceloader
Version: 2023.3
Architecture: iphoneos-arm
Description: Quick Emoji Access Bar
Depiction: https://apt.cpdigitaldarkroom.com/depictions/com.cpdigitaldarkroom.barmoji/
Homepage: https://apt.cpdigitaldarkroom.com/depictions/com.cpdigitaldarkroom.barmoji/
Maintainer: CP Digital Darkroom <admin@cpdigitaldarkroom.com>
Author: CP Digital Darkroom <admin@cpdigitaldarkroom.com>
Section: Tweaks
Tag: purpose::extension, compatible_min::ios10, compatible_max::ios13.3
